<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kotox.android.feature.task.detail">

    <application>
        <activity
            android:name="cz.kotox.feature.task.poc.detail.ui.TaskDetailActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>