<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kotox.i18n.ui">

    <application>
        <activity
            android:name="cz.kotox.i18n.ui.phone.screen.PhoneCountryCodeActivity"
            android:exported="true"/>
    </application>

</manifest>