<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kotox.android.camera.custom">

    <application>
        <activity
            android:name="cz.kotox.camera.custom.CameraActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>